*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F9F9;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

button {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

a:hover {
    color: #C6B166;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1354px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-bottom: 63px;
    padding-top: 50px;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 7px;
    width: 30px;
}

.burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #D3BE73;
}

.btn {
    background-color: transparent;
    display: inline-flex;
    height: 87px;
    width: 312px;
    padding: 0px 55px;
    align-items: center;
    border: 2px solid #D3BE73;
    color: #27302E;
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.98px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #C6B166;
    cursor: pointer;
}

.btn_mobile {
    display: none;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.header__container {
    display: flex;
    gap: 80px;
    align-items: center;
}

.header__container ul {
    display: flex;
    gap: 35px;
}

.header__contacts {
    max-width: 200px;
    text-align: right;
}

.header__phone {
    display: block;
    color: #27302E;
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.phone__link {
    display: inline-flex;
    justify-content: flex-end;
    color: #C6B166;
    text-decoration: underline 1px rgba(198, 177, 102, 0);
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-underline-offset: 0.5em;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.phone__link:hover {
    color: #C6B166;
    text-decoration-color: #C6B166;
    text-underline-offset: 0.4em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 160px;
}

.intro__wrap {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-right: 103px;
}

.socials__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.socials__link {
    display: block;
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.socials__link:hover {
    transform: scale(1.1);
}

.slider {
    width: 590px;
    height: 825px;
}

.slider__arrows {
    display: flex;
    gap: 0;
    position: relative;
    bottom: 56px;
    left: 420px;
    z-index: 10;
}

.slider__arrow {
    background-color: #F9F9F9;
    width: 102px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__arrow path {
    transition: fill 0.3s ease;
}

.slider__arrow:hover path,
.slider__arrow:focus path {
    fill: #27302E;
}

.intro__order {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 65px;
    position: relative;
    left: -164px;
    top: 86px;
}

.intro__box {
    background-color: #F9F9F9;
    padding: 60px 0 60px 55px;
}

h1 {
    color: #27302E;
    font-family: 'Raleway';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    min-width: 550px;
    margin-bottom: 20px;
}

.intro__subtitle {
    font-size: 23px;
    line-height: 38px;
}

h2 {
    font-family: 'Raleway';
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #27302E;
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    font-variant-numeric: lining-nums proportional-nums;
}

.about__text {
    line-height: 31px;
    width: 336px;
}

.about__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about__block_first-paragraph {
    padding-top: 15px;
    width: 856px;
}

.about__block_second-paragraph {
    width: 876px;
    padding-bottom: 65px; 
}

.about__qualities {
    display: flex;
    justify-content: space-between;
    gap: 112px;
}

.about__quality {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__qualiy_title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.hammer {
    width: 65px;
    height: 65px;
}

.tree {
    width: 53px;
    height: 65px;
}

.shield {
    width: 55px;
    height: 65px;  
}

@media (max-width: 1440px) {
    .wrapper {
        width: 1200px;
    }
}

@media (max-width: 360px) {
    .header {
        padding-bottom: 25px;
        padding-top: 25px;
        /* position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        z-index: 1000px; */
    }

    .burger {
        display: flex;
    }

    .wrapper {
        width: 320px;
    }

    .header__wrap {
        display: flex;
        align-items: center;
    }

    main {
        gap: 45px;
    }

    .intro__order {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        position: none;
        left: 0px;
        top: 0px;
    }

    .intro__box {
        background-color: none;
        padding: 0;
    }

    .btn_desktop {
        display: none;
    }
    
    .btn_mobile {
        display: block;
        height: 60px;
        width: 190px;
        align-items: center;
        font-size: 14px;
        letter-spacing: 1.26px;
    }
    
    .about__qualities {
        flex-direction: column;
        gap: 30px;
    }

    .about__quality {
        gap: 12px;
    }

    .hammer, .tree, .shield {
        width: 45px;
        height: 45px;
    }

    h1 {
        font-size: 30px;
        line-height: 44px;
    }

    .intro__subtitle {
        font-size: 15px;
        line-height: 26px;
        width: 290px;
    }

    nav,
    .header__contacts,
    .socials, .slider,
    .slider__arrows,
    .swiper-slide {
        display: none;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 17px;
        line-height: 23px;
    }

    .about__block {
        gap: 12px;
    }

    .about__qualiy_title {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .about__text {
        font-size: 13px;
        line-height: 23px;
        width: 290px;
    }
}
