*,
*::after,
*::before {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #F9F9F9;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    overflow-y: scroll;
}

button {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

a:hover {
    color: #C6B166;
}

.container {
    margin: 0 auto;
    max-width: 1920px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1354px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-bottom: 63px;
    padding-top: 50px;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 7px;
    width: 30px;
}

.burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #D3BE73;
}

.btn {
    background-color: transparent;
    display: inline-flex;
    height: 87px;
    padding: 0px 55px;
    align-items: center;
    border: 2px solid #D3BE73;
    color: #27302E;
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.98px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #C6B166;
    cursor: pointer;
}

.btn_mobile {
    display: none;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.header__container {
    display: flex;
    gap: 80px;
    align-items: center;
}

.header__container ul {
    display: flex;
    gap: 35px;
}

.header__contacts {
    max-width: 200px;
    text-align: right;
}

.header__phone {
    display: block;
    color: #27302E;
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link__underline {
    display: inline-flex;
    justify-content: flex-end;
    color: #C6B166;
    text-decoration: underline 1px rgba(198, 177, 102, 0);
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-underline-offset: 0.5em;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.link__underline:hover {
    color: #C6B166;
    text-decoration-color: #C6B166;
    text-underline-offset: 0.4em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 160px;
}

.intro__wrap {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-right: 103px;
}

.socials__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.socials__link {
    display: block;
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.socials__link:hover {
    transform: scale(1.1);
}

.slider {
    width: 590px;
    height: 825px;
}

.slider__arrows {
    display: flex;
    gap: 0;
    position: relative;
    bottom: 56px;
    left: 420px;
    z-index: 10;
}

.slider__arrow {
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__slider-arrow_size {
    width: 102px;
    height: 102px;
}

.slider__arrow path {
    transition: fill 0.3s ease;
}

.slider__arrow:hover path,
.slider__arrow:focus path {
    fill: #27302E;
}

.intro__order {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 65px;
    position: relative;
    left: -164px;
    top: 86px;
    z-index: 1;
}

.intro__box, .info__box {
    background-color: #F9F9F9;
    padding: 60px 0 60px 55px;
}

h1 {
    color: #27302E;
    font-family: 'Raleway';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    min-width: 550px;
    margin-bottom: 20px;
}

.intro__subtitle {
    font-size: 23px;
    line-height: 38px;
}

h2 {
    font-family: 'Raleway';
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

h3 {
    color: #27302E;
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    font-variant-numeric: lining-nums proportional-nums;
}

.about__text {
    width: 336px;
}

.about__block {
    display: flex;
    flex-direction: column;
}

.about__block_first-paragraph {
    width: 856px;
    margin-bottom: 15px;
}

.about__block_second-paragraph {
    width: 876px;
    padding-bottom: 65px;
}

.about__qualities {
    display: flex;
    justify-content: space-between;
    gap: 112px;
}

.about__quality {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__qualiy_title {
    display: flex;
    align-items: center;
    gap: 25px;
}

.hammer {
    width: 65px;
    height: 65px;
}

.tree {
    width: 53px;
    height: 65px;
}

.shield {
    width: 55px;
    height: 65px;
}

.catalog__intro {
    display: flex;
    justify-content: space-between;
}

.catalog__intro-instagram {
    display: flex;
    align-items: center;
    gap: 10px;
}

.instagram {
    width: 21px;
    height: 21px;
}

.vk {
    width: 21px;
    height: 12px;
}

.catalog__wrapper_nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.catalog__nav {
    background-color: #F9F9F9;
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.catalog__card {
    position: relative;
    top: 0;
    bottom: 0;
}

.catalog__card_gap {
    margin-top: 10px;
}

.catalong__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog__cost {
    display: inline-flex;
    background-color: #F9F9F9;
    padding: 25px 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.catalog__cost-text {
    color: #27302E;
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on, 'ss02' on, 'ss01' on, 'salt' on;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.catalog__title {
    display: inline-flex;
    background-color: #F9F9F9;
    padding: 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.catatlog__title-1 {
    color: #27302E;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.catatlog__title-2 {
    color: #6A716F;
}

.swiper-pagination {
    position: relative;
    bottom: 0;
    top: 0;
    cursor: pointer;
}

.swiper-pagination-bullet {
    background-color: #6A716F;
    opacity: 0.15;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    transition: opacity 0.3 ease; /* не работает */
}

.swiper-pagination-bullet-active {
    background-color: #D3BE73;
    opacity: 1.0;
}

.swiper-pagination-bullet:hover {
    opacity: 1.0;
}

.swiper-pagination-clickable {
    background-color: #F9F9F9;
}

.order-steps {
    display: flex;
    gap: 125px;
}

.order-step {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-step__number {
    color: #C6B166;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.order-step__text {
    width: 336px;
    margin-bottom: 5px;
}

.order-step__link {
    color: #C6B166;
    font-weight: 600;
}

.form {
    margin-top: 65px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.form__input {
    width: 260px;
    height: 57px;
    border: none;
    border-bottom: 1px solid #D3BE73;
    background-color: transparent;
    color: inherit;
    outline: none;

    color: #6A716F;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.98px;
    text-transform: uppercase;
    padding-bottom: 36px;
}

.form__button {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: -20px;
}

.form__datas {
    color: #6A716F;
    width: 344px;
}

.font__datas-text {
    font-size: 13px;
    line-height: 21px;
}

.form__datas_link {
    color: #C6B166;
}

.info__block {
    position: relative;
}

.info__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 165px;
    left: 432px;
}

.info__title {
    width: 670px;
}

.info__text-1 {
    color: #27302E;
    width: 845px;
}

.info__text-2 {
    color: #27302E;
    width: 821px;
}

.consultation__title {
    width: 650px;
}

.consultation__text {
    width: 560px;
}

.reviews__block {
    display: flex;
    gap: 20px;
}

.review__box {
    background-color: #FFFFFF;
    width: 652px;
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 10px;
}

.review__contact {
    display: flex;
    gap: 14px;
    align-items: center;
}

.review__contact_img {
    width: 60px;
    height: 60px;
}

.review__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.review__name-item {
    color: #27302E;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
}

.review__social-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 9px;
}

.review__social-item_vk {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
}

.review__text-box {
    width: 542px;
}

.review__text{
    width: 478px;
}

.faq-block {
    position: relative;
}

.faq-block__img {
    display: flex;
    justify-content: flex-end;
}

.faq-block__items {
    max-width: 1042px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: absolute;
    margin-top: -1000px;
}

.accordion {
    background-color: #FFFFFF;
    display: block;
    padding: 55px 45px;
}

.accordion-header {
    color: #27302E;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: 0.3 ease;
}

.accordion-content {
    display: none;
}

.accordion-content.active {
    display: block;
}

.accordion-content__text {
    padding-top: 30px;
    font-weight: 400;
}

.contacts-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contacts__title {
    color: var(--black, #27302E);
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.contact__item {
    color: #27302E;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.contact__item_address {
    width: 200px;
}

.contacts {
    margin-bottom: 160px;
}

.policy {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    margin-bottom: 91px;
}

@media (max-width: 1440px) {
    .wrapper {
        width: 1200px;
    }
}

@media (max-width: 360px) {
    .header {
        padding-bottom: 25px;
        padding-top: 25px;
        /* position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        z-index: 1000px; */
    }

    .burger {
        display: flex;
    }

    .wrapper {
        width: 320px;
    }

    .header__wrap {
        display: flex;
        align-items: center;
    }

    main {
        gap: 45px;
    }

    .intro__order {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        position: none;
        left: 0px;
        top: 0px;
    }

    .intro__box {
        background-color: none;
        padding: 0;
    }

    .btn_desktop {
        display: none;
    }

    .btn_mobile {
        display: block;
        height: 60px;
        width: 190px;
        align-items: center;
        font-size: 14px;
        letter-spacing: 1.26px;
    }

    .about__qualities {
        flex-direction: column;
        gap: 30px;
    }

    .about__quality {
        gap: 12px;
    }

    .hammer, .tree, .shield {
        width: 45px;
        height: 45px;
    }

    h1 {
        font-size: 30px;
        line-height: 44px;
    }

    .intro__subtitle {
        font-size: 15px;
        line-height: 26px;
        width: 290px;
    }

    nav,
    .header__contacts,
    .socials, .slider-block,
    .slider__arrows,
    .swiper-slider {
        display: none;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 17px;
        line-height: 23px;
    }

    .about__block {
        gap: 12px;
    }

    .about__qualiy_title {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .about__text {
        font-size: 13px;
        line-height: 23px;
        width: 290px;
    }
}
